
# hide server info
# ---------------------------------------------------------------------------------------
   Options All -Indexes
   ServerSignature Off
   php_value expose_php Off
# ---------------------------------------------------------------------------------------


# set default charset & language
# ---------------------------------------------------------------------------------------
   AddDefaultCharset UTF-8
   DefaultLanguage en-US
# ---------------------------------------------------------------------------------------


# force php_ini values :: "RewriteEngine" runs before "php_value", but outputs after
# ---------------------------------------------------------------------------------------
   php_value short_open_tag      On
   php_value display_errors      On
   php_value auto_prepend_file   sys/core/_init.php
# ---------------------------------------------------------------------------------------


# redirect all requests to http handler & fix include path
# ---------------------------------------------------------------------------------------
   RewriteEngine on
   RewriteCond %{REQUEST_URI} !sys/server/_init.php$
   RewriteRule (.*) sys/server/_init.php
   php_value include_path ../../
# ---------------------------------------------------------------------------------------
